<h3>Heroe <small>{{ heroe.name }}</small></h3>
<button class="btn btn-outline-danger m-1" [routerLink]="['/heroes']">Regresar</button>
<button class="btn btn-outline-success m-1" (click)="addNew(forma)">Add new</button>
<hr>

<div class="row">
    <div class="col-md-12">

        <form (ngSubmit)="save()" #form="ngForm">
            <div class="form-group">
                <label for="name">Nombre</label>
                <input type="text" name="name" [(ngModel)]="heroe.name" value="" placeholder="Nombre del heroe" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="house">Casa </label>
                <select name="company" id="company" class="form-group m-1" [(ngModel)]="heroe.company">
                 <option value="Marvel">Marvel</option>
                 <option value="DC">DC</option>
               </select>
            </div>
            <div class="form-group">
                <label for="bio">Bio</label>
                <textarea [ngModelOptions]="{standalone: true}" [(ngModel)]="heroe.bio" name="bio" placeholder="Biography" id="bio" class="form-group"></textarea>
            </div>
            <button [disabled]="!form.valid" type="submit" class="btn btn-outline-primary">Save</button>
        </form>
    </div>
</div>